body{
  background-color: black;
}

.card{
  display:flex;
  width:200px;
}
.image{
  position: relative;
}
.image > img{
  width:100%;
  height: 250px;
}
.movieName-overly{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left:0%;
  right:0%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  background-color: rgba(0,0,0,0.5);
  transition-duration:200ms ;
}
.movieName-overly:hover{
  opacity: 1;
}
.title{
  color:white;
  font-size: 18px;
  text-align: center;
}
.card-title{
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-wraper{
  margin:5% 0 5% 10%;
}







